<h3>All registered users:</h3>
<form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <p>
        <th scope="col">Name</th>
        <th scope="col" style="padding-left: 121px;">Admin</th>
        <th scope="col">Project Manager</th>
        <th scope="col">Client</th>
        </p>
      </tr>
    </thead>
    <tbody>
      <tr formArrayName="userRoles"
        *ngFor="let user of roleForm.controls['userRoles'].controls; let i = index">
        <p [formGroupName]="i">
          <td colspan="2"><input type="text" formControlName='USER_NAME' disabled style="border: none;border-color: transparent;"></td>
          <td class="center"><input type="checkbox" formControlName='ROLE_ADMIN'></td>
          <td class="center" style="padding-left: 75px;"><input type="checkbox" formControlName='ROLE_PROJECTMANAGER'></td>
          <td class="center" style="padding-left: 100px;"><input type="checkbox" formControlName='ROLE_CLIENT'></td>
        </p>  
      </tr>
    </tbody>
  </table>
  <button [disabled]="!isAdmin" class="btn btn-primary">Submit</button>
</form>

    